system/priv-app/com.amazon.lock.scenes.apk
system/tts/ivona/eng.usa.nina_1418201400000/vox_en_us_nina22i-ta
system/tts/ivona/spa.usa.penelope_1418201400000/vox_es_us_penelope22i
system/sqfs/container.sqfs
fs_config_dirs
fs_config_files
